.container {
  display: flex;
  margin-top: 1rem;
}

.container > div{
  margin-left: 0.3rem;
}

.container div > h1{
  margin: 0rem;
  font-style: italic;
  font-size: 4rem;
}

.container div > span{
  margin-left: 0.3rem;
  color: var(--gray);
  font-style: italic;
}

