:root {
  --background: #fdf7fb;
  --white: #fff;
  --primary: #ac6ea5;
  --primary-light: #bda2bb;
  --gray: #6c757d
}

html,
body {
  min-height: 100vh;
  background-color: var(--background);
  font-family: 'Lato', sans-serif;
  margin: 0px;
}

* {
  box-sizing: border-box;
}

#__next {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

a {
  text-decoration: none;
  color: var(--primary);
}